/* @import url('https://fonts.googleapis.com/css?family=Lato'); */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
}

.hero-section {
    min-height: 100vh;
    background-color: #161E2A;
    color: #fff;
}

.hero-section .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-top: 130px;
    align-items: center;
    justify-content: center;
}

.hero-inner {
    margin-bottom: 20px;
}

.hero-inner h1 {
    font-size: 44px;
    line-height: 54px;
    letter-spacing: 0px;
    margin-bottom: 16px;
}

.hero-inner p {
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 28px;
}

.button {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none !important;
    text-transform: uppercase;
    background-color: #7E6EE6;
    color: #fff !important;
    border: none;
    border-radius: 2px;
    padding: 16px 40px;
    white-space: nowrap;
}

.button:hover {
    background-color: #9180fc;
}

.skills {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.skills h2 {
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0px;
    margin-bottom: 10px;
}

.skills p {
    margin-bottom: 30px;
}

.programs img {
    width: 60px;
    margin-left: 15px;
    margin-right: 15px;
}

.projects {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.projects h2 {
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0px;
    margin-bottom: 20px;
}

.project-cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-content: center;
    justify-content: center;
}
  
.project-card {
    background-color: #fff;
    box-shadow: 0 20px 48px rgba(22,30,42,0.16);
}

.contact {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    background-color: #1c232e;
    color: #fff;
}

.contact h2 {
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0px;
    margin-bottom: 10px;
}

.contact p {
    margin-bottom: 30px;
}

.contact-form {
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
}

input, textarea, button {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    border: none;
}

footer {
    background-color: #0D1521;
    color: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.heart {
    width: 20px;
    margin: 0;
}

footer img {
    width: 30px;
    margin-left: 15px;
    margin-left: 15px;
}